@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assets/css/theme.css" rel="stylesheet" />

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->

    <main class="main" id="top">

        <section class="py-0">
            <img src="~/css/img/header1.png" width="100%">
            <br />
            <br />

        </section>
        <section class="py-8">

            <div class="container-lg">
                <div class="row justify-content-center">
                    <div class="col-3 text-center">
                        <h2 class="mb-4 fw-bold">Explore Features</h2>
                        <hr class="w-25 mx-auto text-dark" style="height:2px;" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-9 col-xl-8 text-center">
                        <p>We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment with our highly qualified doctors you can consult with us which type of service is suitable for your health</p>
                    </div>
                </div>
                <div class="row justify-content-center h-100 pt-7 g-4">
                    <div class="col-sm-9 col-md-4">
                        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                            <div class="card-body text-center text-md-start">
                                <div class="py-3"><img class="img-fluid" src="~/css/img/best.png" height="90" alt="" /></div>
                                <div class="py-3">
                                    <h4 class="fw-bold card-title">Consultation</h4>
                                    <p class="card-text">Free consultation with our trusted doctors and get the best recomendations</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-4">
                        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                            <div class="card-body text-center text-md-start">
                                <div class="py-3"><img class="img-fluid" src="~/css/img/appoint.png" height="90" alt="" /></div>
                                <div class="py-3">
                                    <h4 class="fw-bold card-title">Appointment</h4>
                                    <p class="card-text">Keep track of your appointments, reminders, and health events with our integrated calendar feature.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-4">
                        <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                            <div class="card-body text-center text-md-start">
                                <div class="py-3"><img class="img-fluid" src="~/css/img/selfhelp.png" height="90" alt="" /></div>
                                <div class="py-3">
                                    <h4 class="fw-bold card-title">Self-Help</h4>
                                    <p class="card-text">Empower yourself with a wide range of self-help resources and tools to enhance your well-being and personal growth.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br />
        <section class="py-6 py-lg-8" id="about">
            <div class="container">
                <div class="row g-xl-0 align-items-center">
                    <div class="col-md-6"><img class="img-fluid mb-5 mb-md-0" src="~/css/img/best.png" width="480" alt="" /></div>
                    <div class="col-md-6 text-center text-md-start">
                        <h2 class="fw-bold lh-base">Leading healthcare <br />providers</h2>
                        <hr class="text-dark mx-auto mx-md-0" style="height:2px;width:50px" />
                        <p class="pt-3">E-Nompilo provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver</p>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br />

        <section class="py-8" id="testimonial">

            <div class="row flex-center">
                <div class="col-auto text-center">
                    <h2 class="fw-bold">Check out our latest article</h2>
                    <hr class="mx-auto text-dark" style="height:2px;width:50px" />
                </div>
            </div>
            <div class="row h-100 justify-content-center pt-6">
                <div class="col-12 col-sm-9 col-md-4 mt-4">
                    <div class="card h-100 rounded-3 shadow">
                        <img src="~/css/img/about-1.png" alt="" />
                        <div class="card-body p-4 text-center text-md-start">
                            <h5 class="fw-bold">Disease detection</h5>
                            <p class="card-text">In this case, the role of the health laboratory is very important to do a disease detection...</p><a class="stretched-link text-decoration-none" href="#" role="button">
                                Read more
                                <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-9 col-md-4 mt-4">
                    <div class="card h-100 rounded-3 shadow">
                        <img src="~/css/img/about-2.png" alt="" />
                        <div class="card-body p-4 text-center text-md-start">
                            <h5 class="fw-bold">Herbal medicines </h5>
                            <p class="card-text">Herbal medicine is very widely used at this time because of its very good for your health...</p><a class="stretched-link text-decoration-none" href="#" role="button">
                                Read more
                                <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-9 col-md-4 mt-4">
                    <div class="card h-100 rounded-3 shadow">
                        <img src="~/css/img/hero-header.png" alt="" />
                        <div class="card-body p-4 text-center text-md-start">
                            <h5 class="fw-bold">Natural care </h5>
                            <p class="card-text">A healthy lifestyle should start from now and also for your skin health.There are some...</p><a class="stretched-link text-decoration-none" href="#" role="button">
                                Read more
                                <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </section>

        <!-- <section> begin ============================-->
        <section class="py-2">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <p class="mb-0">
                                &copy; E-Nompilo Health Care;
                                <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#458FF6" viewBox="0 0 16 16">
                                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                                </svg>&nbsp;Powered by&nbsp;<a class="text-black" href="#" target="_blank">BlackBox IT Solution </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


    </main>
</body>
