
@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assets/css/theme.css" rel="stylesheet" />

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->

    <main class="main" id="top">

        <section class="py-0">
            <!--Header Image-->
            <img src="css\pics\referralsHeader.png" width="100%">
            <br />

            <!--Sidebar-->
            <div class="container-fluid">
                <div class="row flex-nowrap">
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                        </br>

                        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">


                                <span class="fs-5 d-none d-sm-inline">Patient Dasboard</span>
                            </a>
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                                <li class="nav-item">
                                    <a href="#" class="nav-link align-middle px-0">
                                        <img src="css\pics\home.png" alt="hugenerd" width="20" height="20">
                                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                        <img src="css\pics\ccc.png" alt="hugenerd" width="20" height="20">
                                        <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Medical Record</span>
                                    </a>
                                    <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                        <li>
                                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                                <img src="css\pics\document.png" alt="hugenerd" width="20" height="20">
                                                <span class="ms-1 d-none d-sm-inline">File</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                                <img src="css\pics\medical-report.png" alt="hugenerd" width="20" height="20">
                                                <span class="ms-1 d-none d-sm-inline">Medical Report</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                        <img src="css\pics\event.png" alt="hugenerd" width="25" height="25">
                                        <span class="ms-1 d-none d-sm-inline">Calendar</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                        <img src="css\pics\doctor.png" alt="hugenerd" width="25" height="25">
                                        <span class="ms-1 d-none d-sm-inline">Therapist</span>
                                    </a>

                                </li>
                                <li>
                                    <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                        <img src="css\pics\book.png" alt="hugenerd" width="25" height="25">
                                        <span class="ms-1 d-none d-sm-inline">Self-Help</span>
                                    </a>

                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0 align-middle">
                                        <img src="css\pics\appointment-book.png" alt="hugenerd" width="22" height="22">
                                        <span class="ms-1 d-none d-sm-inline">
                                            Book Appointment

                                        </span>
                                    </a>
                                </li>
                                <br />
                                <br />
                                <br />

                            </ul>
                            <!--Meet Now Buton-->
                            <hr>

                            </br>
                            </br>
                            <!--Profile Icon With Dropdown--></>

                            <div class="dropdown pb-4">
                                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="images\kindpng_1468338.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                    <span class="d-none d-sm-inline mx-1">User</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                    <li><a class="dropdown-item" href="#">Home</a></li>
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--content Area: THIS IS WHERE YOU CAN ADD YOUR OWN CODE-->
                    <div class="col-sm p-3 min-vh-100">
                        <section class="py-8" id="testimonial">

                            <div class="row flex-center">
                            </div>
                        </section>
        </section>
        <!--Benner--></>
        <div class="row g-xl-0 align-items-center">
        </div>
        <br>
        <section class="py-6 py-lg-8" id="about">
            <div class="container">
                <div class="row g-xl-0 align-items-center">
                    <!--Second Content Area: THIS IS WHERE YOU CAN ADD YOUR OWN CONTENT--></>

                    <div class="col-md-6">
                        <!--IMAGE--></>

                        <img class="img-fluid mb-2 mb-md-0" src="" width="480" alt="" />
                    </div>
                    <div class="col-md-6 text-center text-md-start">
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- <section> begin ============================-->
        <!--3rd Content Area: THIS IS WHERE YOU CAN ADD YOUR OWN CONTENT--></>

        <section class="py-2">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->

    </main>

</body>
<!--Footer-->
<footer class="border-top footer text-muted bg-primary">
    <div class="container-md">
        <div class="text-center text-light">
            </br>
            <img src="css\pics\E-nompiloLogo.png" alt="E-nompiloLogo" width="120px" />

            <p class="mb-0">
                &copy; E-Nompilo Health Care;
                <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#458FF6" viewBox="0 0 16 16">
                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                </svg>&nbsp;Powered by&nbsp;<a class="text-light" href="#" target="_blank">BlackBox IT Solution </a>
            </p>
            </br>
        </div>
    </div>
</footer>

